
<div>
    <div class="container-fluid mt-5">
        <div class="card" style="max-width: 45rem;margin-left: auto;margin-right: auto;">
            <div class="card-body">
                <h5 class="card-title">{{title}}</h5>
                <div class="row">
                    <div class="col-lg-6 md-12 mt-3">
                        <div class="input-group flex-nowrap">
                            <label for="">Full name:</label>
                            <label for="" style="margin-left: 10px;">{{fullname}}</label>
                        </div>
                    </div>
                    <div class="col-lg-6 md-12 mt-3">
                        <div class="input-group flex-nowrap">
                            <label for="">ID:</label>
                            <label for="" style="margin-left: 10px;">{{id}}</label>
                        </div>
                    </div>
                    <div class="col-lg-6 md-12 mt-3">
                        <div class="input-group flex-nowrap">
                            <label for="">Email:</label>
                            <label for="" style="margin-left: 10px;">{{email}}</label>
                        </div>
                    </div>
                    <div class="col-lg-6 md-12 mt-3">
                        <div class="input-group flex-nowrap">
                            <label for="">Gender:</label>
                            <label for="" style="margin-left: 10px;">{{gender}}</label>
                        </div>
                    </div>
                    <div class="col-lg-6 md-12 mt-3">
                        <div class="input-group flex-nowrap">
                            <label for="">Phone number:</label>
                            <label for="" style="margin-left: 10px;">{{phone}}</label>
                        </div>
                    </div>
                    <div class="col-lg-6 md-12 mt-3">
                        <div class="input-group flex-nowrap">
                            <label for="">Flight:</label>
                            <label for="" style="margin-left: 10px;">{{flight}}</label>
                        </div>
                    </div>
                    <div class="col-lg-6 md-12 mt-3">
                        <div class="input-group flex-nowrap">
                            <label for="">Date of birth:</label>
                            <label for="" style="margin-left: 10px;">{{dob}}</label>
                        </div>
                    </div>
                    <div class="col-lg-6 md-12 mt-3">
                        <div class="input-group flex-nowrap">
                            <label for="">Luggage:</label>
                            <label for="" style="margin-left: 10px;">{{luggage}}</label>
                        </div>
                    </div>
                    <div class="col-lg-6 md-12 mt-3">
                        <div class="input-group flex-nowrap">
                            <label for="">Payment method:</label>
                            <label for="" style="margin-left: 10px;">{{payment}}</label>
                        </div>
                    </div>
                    <div class="col-lg-6 md-12 mt-3">
                        <div class="input-group flex-nowrap">
                            <label for="">Payment method:</label>
                            <label for="" style="margin-left: 10px;color:green;font-weight: bold;">{{status}}</label>
                        </div>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>
</div>
